.courses-list-block{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
  padding-left:5%;
  padding-right: 5%;
}
.courses-list-block-wrapper {
  width:70%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}