.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background: url('../../images/background_auth.png') center top;

  &-title {
      font-size: 40px;
      text-align: center;
  }

  &-form-wrap {
      display: flex;
      justify-content: center;
  }

  &-another-way-title {
      text-align: center;
      margin-bottom: 20px;
  }

  &-social {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}