.admin-menu-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
  color: #ffffff;
}

.admin-menu-add-avatar-btn {
  margin: 15px 0 10px;
}

.admin-sider-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
