.react-quiz-container {
  width:80%;
  margin:auto;
  font-size: 1rem;
  min-height: 400px;
  padding-bottom: 50px;
}

.react-quiz-container h2 {
  font-size: 1.5rem;
  color:#008c99;
  margin-bottom: 15px;
}
.quiz-synopsis {
  font-size: 1rem;
}
.react-quiz-container .startQuizWrapper .startQuizBtn {
  background-color: #cf571b;
  color: white;
  border: 1px solid #ae4915;
  display: block;
  height: auto;
  flex-direction: row;
  font-size: 1rem;
  padding: 5px;
  margin: 10px;
}
.nextQuestionBtn {
  background-color: #008c99;
  color: white;
}
.questionModal {
  padding-top:15px;
}
//.questionModal img {
//  max-width:250px;
//  max-height: 250px;
//}
.react-quiz-container .questionWrapper img {
  max-width:250px;
  max-height: 250px;
}

.quiz-answer-container {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-answer-container-wrapper{
  padding:20px;
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quiz-answer-container-results-green {
  color:#008c99;
  font-size: 1.2rem;
}
.quiz-answer-container-results-red {
  color:#cf571b;
  font-size: 1.2rem;
}
.quiz-answer-container-btn{
  background-color: #cf571b;
  color: white;
  border: 1px solid #ae4915;
  display: block;
  height: auto;
  flex-direction: row;
  font-size: 1rem;
  padding: 5px;
  margin: 10px
}