.awards-children-list {

  margin: 40px auto;

  @media (min-width: 640px) {
    width: 500px;
  }

  @media (max-width: 640px) {
    width: 200px;
  }

  @media (max-width: 320px) {
    width: 200px;
  }
}