.lesson-practice-wrapper{
  display:flex;
  width:100%;
  flex-direction: column;
  padding-bottom: 15px;
}
.lesson-practice-answer-block {
  padding-top:20px;
  padding-bottom: 20px;
}
.lesson-practice-body {
  display: flex;
  justify-content: flex-start;
}