.course-block {
  width:  100%;
  min-height: 90vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f5f1;
  padding-bottom: 100px;
}
.course-block-breadcrumb {
  padding:20px;
  margin: 20px;
  background-color: white;
  font-size: 1rem;

}
.course-block-section-title{
  color:white;
  font-size: 1.5rem;
  padding-top: 5px;
}

.course-block-title-text{
  font-size: 2rem;
  color:#008c99;
}

.course-block-items-wrapper {
  width:80%;
}

.course-block-items-wrapper >.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color:#008c99;
}
.course-block-items-wrapper >.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg{
  color:white;
  font-size: 1rem;
}
.course-block-title>.course-block-items-wrapper>.course-block-item-panel{
  width:100%;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding:0;
}

//
.course-block-items-header {
  display:flex;
  width:100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding:20px;
  border: 1px solid grey;
  background-color: #f0f0f0;
}
.course-block-items-header-status {
  display: flex;
  width:50%;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
}
.course-block-items-header-description {
  display: flex;
  width:50%;
  align-items: center;
  justify-content:space-around;
}
