.settings-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 20px 0;
  box-sizing: border-box;
  background: url('../../../images/background_auth.png') #0056b3 center top;

  &-title {
    color: #fff;
    font-size: 34px;
    margin-bottom: 30px;
    text-align: center;
  }

  &-form-change-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Bubblegum Sans', cursive;
    font-weight: normal;
  }
}