@desktop:   ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@phone:  ~"only screen and (max-width:719px)";
.section-contact-us {
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  background-image: url('images/cloud-bg.png');
  background-repeat:repeat;
  background-attachment:fixed;
  background-color:#cf571b;
  color:white;
}
.section-contact-us-block {
  width:80%;
  min-height: 450px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.section-contact-us-title  h2{
  color:white;
  font-size: 3rem;
}
.section-contact-us-button{
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.write-to-us-btn {
  background-color:#008c99;
  border:1px solid #075c64;
  color:white;
  display:block;
  height:auto;
  font-size: 1.5rem;
  padding:15px;
}
.write-to-us-btn:hover{
  background-color:#075c64;
  border:1px solid #075c64;
}
.section-contact-us-button .write-to-us-btn {
  padding-top:15px;
}
@media @phone {
  .section-contact-us-title h2 {
    font-size: 1.5rem;
  }
  .write-to-us-btn {
    font-size: 1rem;
  }
}