.lesson-theory-wrapper {
  display:flex;
  width:100%;
  flex-direction: column;
  padding-bottom: 15px;
}
.lesson-theory-example-wrapper{
  display:flex;
  width:100%;
  align-items: center;
  justify-content: center;
  padding:15px;
  border:  1px solid #b7b5b5;

}
.lesson-theory-type-counting{
  display:flex;
  width:60%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.lesson-theory-type-counting-item-img{
  width:70%;
}