.settings-dashboard-form-change-password-form {
  padding: 40px;
  background: #fff;
  border: 1px solid #9c9c9c;
  border-radius: 10px;

  @media (min-width: 910px) {
    width: 400px;
  }

  @media (max-width: 910px) {
    width: 100%;
    padding: 20px;
  }
  @media (max-width: 600px) {
    width: 100%;
    padding: 15px;
  }
}

.settings-dashboard-form-change-password-title {
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
}

.change-password-btn {
  margin-top: 20px;
  width: 100%;
}