.analytics-content {
  min-height: 85vh;
  padding: 20px 0;
  box-sizing: border-box;
  background: url('../../../images/background_auth.png') #1c7430 center top;

  &-title {
    margin: 40px 0;
    font-size: 34px;
    color: #fff;
    text-align: center;
  }

  &-empty-block {
    text-align: center;
    font-family: 'Bubblegum Sans', cursive;
    font-weight: normal;
    font-size: 24px;
    color: #fff;
  }
}