
.admin-content-layout {
  background: #f0f2f5;
}

.admin-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1d9294;

  @media (max-width: 540px) {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  &.ant-layout-header {
    padding: 10px 50px;
    line-height: 48px;

    @media (max-width: 640px) {
      height: 120px;
      padding: 20px;
    }
    @media (max-width: 540px) {
      height: 180px;
      padding: 20px;
    }
  }

  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bubblegum Sans', cursive;
    font-weight: normal;
    font-size: 22px;
    color: #fff;
    text-align: left;

    @media (max-width: 460px) {
      margin-right: 10px;
    }
  }

}

.admin-content-main {
  margin-top: 20px;
  background: #fff;
}


