.login-form {
  width: 400px;

  @media (max-width: 640px) {
    width: 320px;
  }

  &-forgot {
    float: right;
  }

  &-button {
    width: 100%;
  }

}

.ant-col-rtl .login-form-forgot {
  float: left;
}