// ANTD theme customization
@import '../../../../node_modules/antd/lib/style/themes/default';
@import '../../../../node_modules/antd/lib/style/color/colors.less';


// Suggested by antd to change theme, major variables
// check https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less for more vars

@primary-color: #feba63; // primary color for all components
@link-color: #1890ff; // link color
@info-color: #1890ff;
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, .45); // secondary text color
@disabled-color: rgba(0, 0, 0, .25); // disable state color
@border-radius-base: 4px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers

@layout-header-background: #2b2929;
@layout-trigger-background: darken(@layout-header-background, 10%);

// unfortunately there is no variable for this setting or at least i could not find it
.ant-btn-link {
  &:focus,
  &:hover {
    color: darken(@link-color, 10%);
  }
}
