

.page-faq {
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background-image: url(images/faq_bg.png);
  background-position: center top;
}
.page-faq-block {
  width:80%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-faq-block-title {
  font-size: 2.5rem;
  font-weight: normal;
  color: #4c4b4b;
  margin-top:70px;
  margin-bottom: 40px;
  padding-bottom: 30px;
}
.page-faq-block-collapse {
  width:100%;
  font-size: 1rem;

}
.page-faq-block-items .page-faq-block-collapse .page-faq-block-collapse-item{
  width:100%;
  font-size: 1.2rem;
  color:#008c99;
  padding:15px;
}
.page-faq-block-collapse-item {
  //border: 1px solid #df9b00;
}
.page-faq-block-items {
  width:100%;
  padding-bottom: 50px;
}
.page-faq-block-collapse-text {

}