@desktop:   ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@phone:  ~"only screen and (max-width:719px)";

.first-screen-block {
  display: flex;
  width:100%;
  height: 80vh;
  flex-direction: row;
  background-image: url('images/black_board_background.jpg');
  background-size: cover;
  background-position: center;
}

.first-screen-left-side {
  width:50%;
  display:flex;
  flex-direction: column;
 justify-content: center;
  align-items: center;
}
.first-screen-left-side-text {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:5%;
}
.first-screen-left-side-text-title {
  font-size: 2.5rem;
  color:#f0f0f0;
  margin-bottom: 10px;
}
.first-screen-left-side-text-sub-title {
  font-size: 1.5rem;
  color:#f0f0f0;
}

.first-screen-right-side {
  display:flex;
  justify-content: center;
  align-items: flex-end;
}
.first-screen-right-side-img {
  height: 90%;
  padding-left:15%;
}
.first-screen-left-side-buttons {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.first-screen-left-side-btn {
  background-color: #cf571b;
  border:1px solid #ae4915;
  display:block;
  height:auto;
  flex-direction: row;
  font-size: 1.5rem;
  padding:15px;
  margin-left:10px;
}
.first-screen-left-side-buttons .first-screen-left-side-btn  {
  padding-top: 15px;
}
.first-screen-left-side-btn:hover{
  background-color: #ae4915;
  border:1px solid #ae4915;
}
.first-screen-left-side-btn-login {
  border:1px solid white;
  color:white;
}
.first-screen-left-side-btn-login:hover{
  background-color: #ae4915;
  border:1px solid #ae4915;
  color:white;
}

@media @phone{
  .first-screen-left-side-text-title {
    font-size: 1.5rem;
  }
  .first-screen-left-side-text-sub-title {
    font-size: 1rem;
  }
  .first-screen-left-side {
    width:100%;
  }
  .first-screen-right-side {
    display:none;
  }
  .first-screen-left-side-btn {
    font-size: 1rem;
  }
}
